@font-face {
	font-family: 'Montserrat-Thin_100';
	src: url(fonts/Montserrat-Thin_100.ttf);
}

@font-face {
	font-family: 'Montserrat-ExtraLight_200';
	src: url(fonts/Montserrat-ExtraLight_200.ttf);
}

@font-face {
	font-family: 'Montserrat-Light_300';
	src: url(fonts/Montserrat-Light_300.ttf);
}

@font-face {
	font-family: 'Montserrat-Regular_400';
	src: url(fonts/Montserrat-Regular_400.ttf);
}

@font-face {
	font-family: 'Montserrat-Medium_500';
	src: url(fonts/Montserrat-Medium_500.ttf);
}

@font-face {
	font-family: 'Montserrat-SemiBold_600';
	src: url(fonts/Montserrat-SemiBold_600.ttf);
}

@font-face {
	font-family: 'Montserrat-Bold_700';
	src: url(fonts/Montserrat-Bold_700.ttf);
}

@font-face {
	font-family: 'Montserrat-ExtraBold_800';
	src: url(fonts/Montserrat-ExtraBold_800.ttf);
}

@font-face {
	font-family: 'Montserrat-Black_900';
	src: url(fonts/Montserrat-Black_900.ttf);
}

@font-face {
	font-family: 'Roboto-Light_300';
	src: url(fonts/Roboto-Light_300.ttf);
}